/* ajs_style */
fieldset#edit-filters {
    height: 100%;
}

div.fieldset-wrapper .form-item.form-type-textfield {
  float: left;
  margin-left: 20px;
}

div.fieldset-wrapper .form-item.form-type-select {
  float: left;
  margin-left: 20px;
  height: 180px;
}

div.fieldset-wrapper .form-item.form-type-select > span.field-suffix {
  float: left;
  width: 100%;
}

div.fieldset-wrapper .form-item.form-type-select > span.field-suffix > a {
  position: relative;
}

fieldset#edit-ajs-filter-case--wrapper {
    float: left;
  margin-left: 20px;
}

div.fieldset-wrapper .form-item.form-type-checkbox {
    margin-left: 20px;
    width: 100px;
}
div.radio-holder {
  float: left;
  margin-left: 20px;
}

.display-loader {
  background: url(loader.gif) no-repeat center center;
  width: 32px;
  height: 32px;
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
  padding-top: 60px;
}

table#dblog_quick_filter tbody tr.tr_hide {
  display: none;
}

.display-refresh  span > div.fieldset-wrapper .form-item.form-type-select {
  float: left;
  margin-left: 20px;
  height: 50px !important;
}